# Virtual environment
env/
split/
data/
.env/
.venv/
dir/env/

# ignore split files
split/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pycharm directory
.idea/
**/.idea/

# databases in project like SQLite, ignore them too
*.sqlite3

# If Jupyter notebooks involved
.ipynb_checkpoints/

# Other unnecessary files
*.log
*.bak
*.swp
*.swo
*.cache
*.vscode
.DS_Store

# cache files
evals/sop_cache/

# results:
evals/dummy_debug_eval_results.csv
results/

# Data
data/
